<html>
    <head>
        {% if title %}
        <title>{{ title }} - Controller</title>
        {% else %}
        <title>Node Controller</title>
        {% endif %}

        <style>
            #menu-bar {
            width: 95%;
            margin: 0px 0px 0px 0px;
            padding: 6px 6px 4px 6px;
            height: 40px;
            line-height: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 2px 2px 4px #666666;
            -webkit-box-shadow: 2px 2px 4px #666666;
            -moz-box-shadow: 2px 2px 4px #666666;
            background: #8B8B8B;
            background: linear-gradient(top,  #A9A9A9,  #1C1C1C);
            background: -ms-linear-gradient(top,  #A9A9A9,  #1C1C1C);
            background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#1C1C1C));
            background: -moz-linear-gradient(top,  #A9A9A9,  #1C1C1C);
            border: solid 0px #6D6D6D;
            position:relative;
            z-index:999;
            }
            #menu-bar li {
            margin: 0px 0px 6px 0px;
            padding: 0px 6px 0px 6px;
            float: left;
            position: relative;
            list-style: none;
            }
            #menu-bar a {
            font-weight: bold;
            font-family: arial;
            font-style: normal;
            font-size: 12px;
            color: #E7E5E5;
            text-decoration: none;
            display: block;
            padding: 6px 20px 6px 20px;
            margin: 0;
            margin-bottom: 6px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            text-shadow: 2px 2px 3px #000000;
            }
            #menu-bar li ul li a {
            margin: 0;
            }
            #menu-bar .active a, #menu-bar li:hover > a {
            background: #0399D4;
            background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
            background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
            background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
            background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
            color: #444444;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            text-shadow: 1px 1px 3px #FFFFFF;
            }
            #menu-bar ul li:hover a, #menu-bar li:hover li a {
            background: none;
            border: none;
            color: #666;
            -box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            }
            #menu-bar ul a:hover {
            background: #0399D4 !important;
            background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
            background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
            background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
            color: #FFFFFF !important;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            text-shadow: 2px 2px 3px #FFFFFF;
            }
            #menu-bar li:hover > ul {
            display: block;
            }
            #menu-bar ul {
            background: #DDDDDD;
            background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
            background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
            background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
            background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
            display: none;
            margin: 0;
            padding: 0;
            width: 185px;
            position: absolute;
            top: 30px;
            left: 0;
            border: solid 1px #B4B4B4;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-box-shadow: 4px 4px 3px #424242;
            -moz-box-shadow: 4px 4px 3px #424242;
            box-shadow: 4px 4px 3px #424242;
            }
            #menu-bar ul li {
            float: none;
            margin: 0;
            padding: 0;
            }
            #menu-bar ul a {
            padding:10px 0px 10px 15px;
            color:#424242 !important;
            font-size:12px;
            font-style:normal;
            font-family:arial;
            font-weight: normal;
            text-shadow: 2px 2px 3px #FFFFFF;
            }
            #menu-bar ul li:first-child > a {
            border-top-left-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            }
            #menu-bar ul li:last-child > a {
            border-bottom-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            }
            #menu-bar:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
            }
            #menu-bar {
            display: inline-block;
            }
            html[xmlns] #menu-bar {
            display: block;
            }
            * html #menu-bar {
            height: 1%;
            }


            #menu-bar .title {
            color: #000000;
            text-shadow: 3px 3px 5px #FFFFFF;
            }


        </style>
    </head>
    <body>

        <ul id="menu-bar">
            <li class="title">{{ name }}</li>
            {% if node==False %}
                <li><a href="{{url_for('activateNode') }}">Create Node</a></li>
            {% else %}
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{url_for('listBackgrounds')}}">Background</a>
                    {% include "background.html" %}
                </li>
                <li><a href="{{ url_for('ListMedia') }}">Media</a>    
                    {% include "media.html" %}
                </li>
            {% endif %}
            
            <li><a href="#">Settings</a>
                <ul>
                    <li><a href="#">Set Rotation</a></li>
                    <li><a href="#">Manage Media</a></li>
                    <li><a href="#">Join/Creae Cluster</a></li>
                    <li><a href="{{ url_for('destroyDisplay') }}">Destroy Display</a></li>
                </ul>
            </li>
        </ul>
                

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>
